# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Ignore build and cache files
.next
out
build
.cache

# Ignore editor and system files
.DS_Store
.idea
.vscode
*.swp
